# course config files
course-info.yaml
course-remote-info.yaml
*/lesson-info.yaml
*/task-info.yaml

# gradle
.gradle/
build

# topics
Topics

# idea config
.idea

# old stages
/Web Quiz Engine (Kotlin)/*
!/Web Quiz Engine (Kotlin)/task/
/Web Quiz Engine (Kotlin)/task/*
!/Web Quiz Engine (Kotlin)/task/src

